/* You can add global styles to this file, and also import other style files */
h1{
    color:#369;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250%; 
}
